*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    background-color:rgba(217, 222, 240, 0.418);
    font-family:'poppins',sans-serif;

}
.nav{
    background-color: white;
    padding:40px;
}
.main-body{
    display:flex;
    flex-direction: column;
    width:100%;
}
.container{
    display:flex;
    flex-direction: row;
}
.main-content{
     margin-top:50px;
    /*margin-left: 50px; */
    display:flex;
    flex-direction: column;
    align-items: center;
}
.side-nav{
    height:100vh;
    width:9%;
    z-index: 1;
    background-color:rgba(235, 237, 245, 0.596);
    box-shadow: 1px 10px 10px black;
}
.side-nav a{
    text-decoration:none;
    font-size:16px;
    color:rgb(101, 99, 114);
    display:block;
    padding:20px 10px;
    text-align: center;
    
}
.side-nav a:hover{
    background-color:rgb(191, 208, 245);
    color:black;
}
.active{
    border-left:3px solid rgb(80, 80, 247) ;
    background-color: rgb(191, 208, 245);
}
.logo{
    color:rgb(0, 0, 0);
    font-size:40px;   
}
.icon{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:18px
}

 .main-container p{
   padding-left:100px;
   margin-top: 20px;
    font-weight: bold;
    font-size:18px;
    color:rgb(101, 99, 114);
}
.main-content h5{
    text-align:center;
     font-weight: bold;
     font-size:20px;
     padding:10px 0px;
     color:rgb(101, 99, 114);
     
 } 
#input-box{
padding:10px;
width:55%;
border-radius:10px;
border:none;
}
.upload{
    background-color:white;
    height:150px;
    width:15%;
    margin-left: 300px;
    margin-top: 10px;
    font-weight:bold;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
